// cssモジュールは可用性がないから使わない
// PC用 scss
#App {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-family: Ozwald;
  
  header {
    .pc {
      background-color: black;
      color: white;
      /* position: fixed; */
      width: 100%;
      z-index: 10;
      height: 100px;
      position: fixed;
      .inner {
        max-width: 1200px;
        width: 80%;
        align-items: center;
        display: flex;
        justify-content: space-between;  
        margin: 0 auto;
        .logo h3 {
          font-size: 2rem;
          a{
            text-decoration: none;
            color: white;
            transition: all 0.2s;
          }
          a:hover {
            color: lightgreen;
          }
        }
        nav {
          ul {
            li {
              list-style: none;
              display: inline-block;
              margin-right: 30px;
              font-size: 1.5rem;
              a {
                text-decoration: none;
                color: white;
                transition: all 0.2s;
              }
              a:hover {
                color: lightgreen;
              }
            }  
          }
        }
      }
    }
  }

  main {
    padding-top: 100px;
    section {
      padding: 100px 0 0;
      .inner {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        .section-title {
          text-align: center;
          font-size: 40px;
        }
        .section-skill {
          font-size: 30px;
        }
      }
    }

    #about {
      .inner {
        p{
          line-height: 2.0;
        }
      }
    }

    #skills {
      .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        .card {
          display: flex;
          flex-basis: 46%;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 50px;
          .skill-icon {
            flex-basis: 30%;
          }
          .skill-desc {
            flex-basis: 70%;
          }
        }        
      }
    }

    #contact {
      padding-bottom: 100px;
      .inner {
        .section-title-area {
          text-align: center;
          h2 {
            margin-bottom: 40px;
          }
          .btn {
            margin: 0 auto;
            text-align: center;
            a {
              color: #fff;
              font-size: 14px;
              font-weight: bold;
              background: transparent;
              padding: 16px 25px;
              border: 3px solid black;
              background-color: black;
              position: relative;
              z-index: 1;
              transition: .3s;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  #contact-form {
    padding-bottom: 100px;
    .contact-image {
      padding-bottom: 100px;
      .section-intro {
        text-align: center;
      }
    }
    .contact-area {
      .dl-table {
        display: block;
        display: flex;
        flex-wrap: wrap;
        dt {
          width: 30%;
          padding-right: 40px;
          padding-top: 26px;
        }
        .mandatory::after {
          font-size: 14px;
          display: flex;
          float: right;
          content: "必須";
          color: #ff4040;
          border: 1px solid #f88a8a;
          background-color: #f4d4d4;
          margin-top: 2px;
          padding: 0 4px;
        }
        .any::after {
          font-size: 14px;
          display: flex;
          float: right;
          content: "任意";
          color: #333;
          border: 1px solid #555;
          background-color: #ddd;
          padding: 0 4px;
          margin-top: 2px;
        }
        dd {
          width: 100%;
          margin-left: 0px;
          input, textarea {
            border-radius: 3px;
            border: 2px solid #ddd;
            padding: 10px;
            margin-top: 20px;
            width: 100%;
            resize: none;
            background-color: #f7f7f7;
          }
        }
      }
      .dummy {
        height: 30px;
      }
      .btn {
        margin: 0 auto;
        text-align: center;
        a {
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          background: transparent;
          padding: 16px 25px;
          border: 3px solid black;
          background-color: black;
          position: relative;
          z-index: 1;
          transition: .3s;
          text-decoration: none;
        }
      }
    }
  }

  footer {
    background-color: black;
    .inner {
      padding: 30px;
      .copyright {
        font-size: 12px;
        text-align: center;
        color: white;
      }
    }
  }
  
} 

// PC未満のサイズ（800px以下）
@media  screen and (max-width: 800px) {
  #App {
    .pc {
      display: none;
    }
    .sp{
      display: block;
    }
    font-size: 14px;

    header {
      .sp {
        .hamburger-menu {
          position: fixed;
          top: 15px;
          right: 15px;
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 200;
          background-color: black;
          .hamburger-button {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            background: none;
            padding: 0;
            .btn-line {
              display: block;
              height: 3px;
              width: 25px;
              background-color: #fff;
              transition: .5s;
              border-radius: 2px;
              transition: 0.3s ease-in-out;
            }
            /* 1本目の線を上に配置 */
            .btn-line:nth-child(1) {
              transform: translateY(-6px);
            }

            /* 2本目の線（中央）はそのまま */
            .btn-line:nth-child(2) {
              transform: translateY(0);
            }

            /* 3本目の線を下に配置 */
            .btn-line:nth-child(3) {
              transform: translateY(6px);
            }
          }
          /* メニュー開閉時のアニメーション */
          .open .btn-line:nth-child(1) {
            transform: translateY(3px) rotate(45deg);
          }
          .open .btn-line:nth-child(2) {
            opacity: 0; /* 真ん中の線を消す */
          }
          .open .btn-line:nth-child(3) {
            transform: translateY(-3px) rotate(-45deg);
          }
        }
        
        .menu-content {
          width: 100vw;
          height: 100vh;
          top: 0;
          right: 0;
          left: 0; /* 変更: 右から表示されるように */
          z-index: 90;
          background-color: rgba(0, 0, 0, 0.9);  /* 背景を半透明の黒に */
          transition: all .5s;
          position: fixed;
          justify-content: left;
          opacity: 0;  /* 初期状態では透明 */
          visibility: hidden;
          
          /* メニューが開いたとき */
          &.open {
            opacity: 1;
            visibility: visible; /* メニューが開いたときに表示 */
            right: 0;  /* メニューがスライドイン */
          }

          /* 初期状態では非表示 */
          ul {
            padding: 70px 15px 0;
            li {
              border-bottom: solid 1px #fff;
              width: 100%;
              a.list-item {
                font-size: 16px;
                list-style: none;
                display: block;
                width: 100%;
                box-sizing: border-box;
                color: #fff;
                text-decoration: none;
                padding: 9px 15px 10px ;
                position: relative;
              }
            }
          }
        } 
      }
    }

    main {
      padding-top: 100px;
      section {
        padding: 100px 0 0;
        .inner {
          max-width: 1200px;
          width: 80%;
          margin: 0 auto;
          .section-title {
            text-align: center;
            font-size: 22px;
          }
          .section-skill {
            font-size: 18px;
          }
        }
      }

      #contact-form {
        padding-bottom: 100px;
        .contact-image {
          padding-bottom: 100px;
          .section-intro {
            text-align: center;
          }
        }
        .contact-area {
          .dl-table {
            display: block;
            display: flex;
            flex-wrap: wrap;
            dt {
              width: 50%;
              padding-right: 40px;
              padding-top: 26px;
            }
            .mandatory::after {
              font-size: 12px;
            }
            .any::after {
              font-size: 12px;
            }
            dd {
              width: 100%;
              margin-left: 0px;
              input, textarea {
                border-radius: 3px;
                border: 2px solid #ddd;
                padding: 10px;
                margin-top: 20px;
                width: 100%;
                resize: none;
                background-color: #f7f7f7;
              }
            }
          }
          .dummy {
            height: 30px;
          }
          .btn {
            margin: 0 auto;
            text-align: center;
            a {
              color: #fff;
              font-size: 14px;
              font-weight: bold;
              background: transparent;
              padding: 16px 25px;
              border: 3px solid black;
              background-color: black;
              position: relative;
              z-index: 1;
              transition: .3s;
              text-decoration: none;
            }
          }
        }
      }

    }
  }
}